div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    height: 100%;
    background-color: rgba($color: #2c2c2c, $alpha: 1.0);
}

.header{
    display: flex;
    flex-direction: row;
    height: 60px;
    border-bottom: 1px black solid;
    //background-color: rgba($color: #ffffff, $alpha: 0.4);
    &__logo{
        flex-direction: row;
        margin: auto 0;
        margin-left: 20px;
        .logo{
            margin: auto 0;
            width: 200px;
        }
        .logotext{
            margin-top: auto;
            margin-left: 4px;
            font-size: 24px;
            font-weight: semibold;
        }
    }
}

.footer{
    margin-top: auto;
    background-color: #302C28;
    color: white;
    text-align: center;
    height: 250px;
    h2{
        margin: auto;
    }
}

/* ============ box layout ============== */

@mixin box {
    flex-direction: column;
    padding: 24px 40px;
    background-color: white;
    border-radius: 10px;
    .title{
        margin-left: -8px;
        margin-bottom: 16px;
    }
    .subtitle{
        margin-bottom: 8px;
        font-weight: 600;
        color:gray;
    }
    .contents{
        margin-bottom: 12px;
    }
    .ideatitle{
        font-weight: bold;
        margin-bottom: 12px;
        max-height: 40px;
        overflow: hidden;
    }
    .idea_description{
        color:gray;
    }
    input{
        border: 1px solid rgb(216, 216, 216);
        border-radius: 10px;
        height: 40px;
        padding: 0 10px;
        font-size: 16px;
        margin-bottom: 16px;
    }
    input:hover{
        border: 1px solid rgb(128, 128, 128);
    }
}

/* ============ button layout ============== */

@mixin clearbtn ($wid : 120px, $hig : 40px) {
    width: $wid;
    height: $hig;
    //background-color: #e5e5e5;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}