@import './typography';
@import './layout';

.mypage {
    padding: 4% 8%;

    &__top {
        flex-direction: row;
        height: 550px;
        //flex-flow: row wrap;
    }

    &__bottom {
        flex-direction: column;
    }
}

.userinfo {
    flex: 1;

    //max-height: 550px;
    &__namebox {
        position: relative;
        flex-direction: row;
        height: 200px;
        padding: 24px 40px;
        background-color: white;
        border: 1px solid #dadada;
        border-radius: 10px;

        &__profile {
            width: 140px;
            height: 140px;
            margin-right: 40px;
        }

        &__name {
            margin: auto 0;

            .name {
                font-size: 44px;
                font-weight: 500;
                margin: 0;
            }

            .email {
                font-size: 16px;
                font-weight: 400;
                margin: 0;
                margin-top: 5px;
                color: gray;
            }
        }

        .edit {
            display: none;
            text-decoration: none;
            color: black;
            margin-left:0;
        }

        .fa-edit {
            position: absolute;
            right: 32px;
        }

        &:hover .edit {
            display: block;
        }
    }

    &__infobox {
        @include box;
        min-height: 250px;
        max-height: 300px;
        margin-top: 40px;

        .infowrap {
            display: flex;
            margin: auto 0;
        }
    }
}

.myidea {
    @include box;
    overflow: hidden;
    flex: 1;
    margin-left: 40px;
    max-height: 500px;

    &__item {
        max-height: 200px;
        overflow: hidden;
        background-color: #e5e5e5;
        padding: 20px;
        padding-bottom: 5px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    &__item:hover {
        background-color: #F39925;
    }

    &__comments {
        flex-direction: row;
        margin: 12px 0;

        .fa-circle {
            position: relative;
            margin-left: -10px;
            color: rgb(255, 1, 86);
        }

        .num {
            margin: auto 0;
            margin-left: 5px;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .comment_box {
        max-height: 200px;
        overflow-y: scroll;
    }
}

.basket {
    flex-direction: column;
    flex: 1;
    padding: 24px 40px;
    background-color: white;
    border-radius: 10px;
    margin-top: 60px;
    display: none;
    @include box;

    &__itemwrap {
        flex-direction: row;
        overflow-x: scroll;
    }
}

.ideaitem {
    width: 300px;
    height: 350px;
    border: 1px solid black;
    border-radius: 35px;
    margin-right: 40px;

    &__title {
        flex-direction: row;
        height: 50px;
        border-bottom: 1px solid black;
        padding-left: 20px;

        .profile {
            width: 40px;
            height: 40px;
            margin: auto 0;
            margin-right: 10px;
        }

        .text {
            margin: auto 0;
        }
    }

    &__thumnail {
        display: block;
        width: 300px;
        height: 225px;

        img {
            width: 300px;
            height: 100%;
        }
    }

    &__description {
        margin: auto 0;
        padding: 5px 10px;
        line-height: 24px;
    }
}


#edit_button:hover{
    cursor: pointer;
}
.mypage:hover{
    cursor: pointer;
}

@import './mypage_mobile'

