@import './layout';
@import './typography';

.mypage {
    align-items: center;
    width: 800px;
    margin: 0 auto;

    &__top {
        width: 800px;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #A0A0A0;
        padding-bottom: 30px;

        img {
            width: 250px;
        }

        .email {
            margin: 12px 0;
            color: #606060;
        }

        .icon {
            flex-direction: row;
            justify-content: center;

            * {
                margin: auto 0;
            }

            i {
                margin: 0 8px;
            }

            .comment_num {
                margin-right: 20px;
            }
        }
    }

    &__bottom {
        flex: 1;
        flex-direction: column;

        .menu {
            width: 800px;
            justify-content: center;
            flex-direction: row;

            .menuelem {
                width: 266px;
                text-align: center;
                padding: 20px 0;
            }

            .menuelem:hover {
                font-weight: bold;
                background-color: rgb(226, 226, 226);
            }
        }

        .content {
            margin: 40px 0;
            min-height: 400px;

            .title {
                color: #6B6B6B;
                margin-bottom: 4px;
            }

            .description {
                margin-bottom: 16px;
            }
        }

        .myidea {
            flex: 1;
            flex-direction: column;
        }

        .myidea {
            display: none;
        }

        .basket {
            display: none;
        }

        #mypage_edit {
            display: none;
        }

    }

    .ideacard {
        width: 800px;
        height: 200px;
        background-color: #f5f5f5;
        border-radius: 10px;
        flex-direction: row;

        &__thumbnail {
            max-width: 300px;
            min-width: 250px;
            background: url(../image/iron_thumbnail.jpg) center center / cover no-repeat;
            border: none;
            border-radius: 10px 0 0 10px;
        }

        &__content {
            padding-left: 12px;
            justify-content: center;

            .title {
                color: black;
            }

            .subtitle {
                color: #A0A0A0;
            }
        }
    }
}

//@import './mypage_mobile'
