{% load sass_tags %} 
{% load static %}
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="{% sass_src 'style/idea3.scss' %}" rel="stylesheet" type="text/css" />
  <title>IDEATHON</title>
  <script src="https://kit.fontawesome.com/76c68926ea.js" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 200) {
          $(".top").fadeIn();
        } else {
          $(".top").fadeOut();
        }
      });
      $(".top").click(function () {
        $("html, body").animate(
          {
            scrollTop: 0,
          },
          600
        );
        return false;
      });
    });

    function fnMove(seq) {
      var offset = $("#div" + seq).offset();
      $("html, body").animate(
        {
          scrollTop: offset.top,
        },
        600
      );
    }
  </script>
  <style></style>
</head>

<body>

  {% include 'dark_header.html' %}

      <div class="randImg">
        <div class="go_submit">
          <a href="{% url 'submit' %}">
            <button class="submit_btn">submit</button>
          </a>
        </div>
      </div>

      <p class="idea_count">아이디어 <span class="idea_count__span">{{count}}</span>개
        <div class="sorting-wrap">
          <!--<span class = "sorting">-->
            <form action="{% url 'idea'%}" method="GET">
            <button class="sorting_btn">최신순</button>
            </form>
            <form action="{% url 'idea'%}" method="POST">
            {% csrf_token %}
            <button class="sorting_btn">랜덤순</button>
            </form>
          <!--</span>-->
        </div>
      </p>

      <div class="ideacards">
        <div class = "container">
        {% for idea in ideas %}
          <a href="{% url 'detail' idea.id %}">
            <div class="ideacard">
              <div class="cardImg_board">
                {% if idea.image_thumbnail %}
                <img class="card_image" src="{{idea.image_thumbnail.url}}" />
                {% else %}
                <img class="card_image" src="{% static 'image/lion2.png' %}">
                {% endif %}
              </div>
              <!--16:9-->
              <div class="idea_title">
                <div class = "idea_title_content">
                <p>{{idea.idea_title}}</p>
                </div>
              </div>

              <div class="idea_subtitle">
                <div class = "idea_subtitle_content">
                  <p>{{idea.idea_subtitle}}</p>
                </div>
              </div>
              
              <div class="user_div">

                {% if idea.user.user_image %}
                <img class="user_div_image_real"
                    src="{{idea.user.user_image.url}}" width="25px" height="25px"
                    alt="유저사진">
                {% else %}
                <img class="user_div_image_real" src="{% static 'img/4.png' %}"
                    width="25px" height="25px" alt="유저사진">
                {% endif %}

                <div class = "user_div_school">
                  <p>{{idea.user.user_school}}</p>
                </div>

                <div class = "user_div_name">
                  <p>{{idea.user}}</p>
                </div>

                <div class = "user_div_comment">
                  <i class="far fa-comment">&nbsp;{{idea.comments.count}}</i>
                </div>

              </div>

            </div>
          </a>
        {% endfor %}
        </div>
      </div>
</body>
{% include 'footer.html' %}

</html>