{% load sass_tags %}
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IDEATHON</title>
    <script src="https://kit.fontawesome.com/5220950911.js" crossorigin="anonymous"></script>
    <link href="{% sass_src 'style/ideapage.scss' %}" rel="stylesheet" type="text/css"/> 

    <script src="https://kit.fontawesome.com/76c68926ea.js" crossorigin="anonymous"></script>

</head>
<body>  
    <div class="header">
        <a href="/"><img class="logo" src="{% static 'img/basiclogo_E_H.png' %}">&nbsp;<b>IDEATHON</b></a>
        <!---
        <span class="menu">
            <a href="#">Log out</a>
            |
            <a href="#">My Page</a>
        </span>
        -->
        <i class="fas fa-bars fa-2x" style="color: white;"></i>
    </div>
    <div class="randImg">
        <div class="randImg__left">
        </div>
        <div class="randImg__right">
          <div class="deco_box">
            <div class="contents">
              <h2 class="title"> 알약 x-ray 사진 </h2>
              <h3 class="description"> 엑스레이는 <br/> 정말 <br/> 신기하다 </h3>
              <br/>
              <p class="writer"> 김태영 - DGIST </p>
              <p class="detail"> Go detail </p>
            </div>
          </div>
        </div>
    </div>
    <div class="search_div">
        <form class="" style='display:inline'>
            <input class="" style="width:600px; height:48px; margin-left:100px; border-radius:15px;" type="text" placeholder="&emsp;검색하려는 단어를 입력하세요!" aria-label="Search">
            <button class="search_btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <hr style="width:90%; border: 1px solid lightgray;">
    <div class="ideacards">
        <a href="/">
        <div class="card ideacard card_href" style="display: inline;">
            <div class="cardImg_board"><img class="card_image" src="{% static 'image/bg8.jpg' %}"></div> <!--16:9-->
            <span class="idea_name">hack your id</span>
            <p>아이디어 설명 어쩌구 블라블라블라 분홍색 노란색 하늘색 흰색 보라색 녹색<br>likelion hack your life!<i class="fas fa-bath"></i></p>
            <div class="user_div"><hr>
            <img class="cardprofile" src="{% static 'image/lion.png'%}">신밧드의모험<i class="far fa-comment">&nbsp;3</i>
            </div>
        </div>   
        </a>
        <a href="/">
        <div class="card ideacard card_href" style="display: inline;">
            <div class="cardImg_board"><img class="card_image" src="{% static 'image/bg2.jpg' %}"></div> <!--16:9-->
            <span class="idea_name">I have a dream</span>
            <p>아이디어 설명 어쩌구 블라블라블라 분홍색 노란색 하늘색 흰색 보라색 녹색<br>likelion hack your life!<i class="fas fa-bath"></i></p>
            <div class="user_div"><hr>
            <img class="cardprofile" src="{% static 'image/lion.png'%}">달려라하니<i class="far fa-comment">&nbsp;12</i>
            </div>
        </div>
        </a> 
        <a href="/">
        <div class="card ideacard card_href" style="display: inline;">
            <div class="cardImg_board"><img class="card_image" src="{% static 'image/bg3.png' %}"></div> <!--16:9-->
            <span class="idea_name">자몽허니블랙티</span>
            <p>아이디어 설명 어쩌구 블라블라블라 분홍색 노란색 하늘색 흰색 보라색 녹색<br>likelion hack your life!<i class="fas fa-bath"></i></p>
            <div class="user_div"><hr>
            <img class="cardprofile" src="{% static 'image/lion.png'%}">톰과제리<i class="far fa-comment">&nbsp;0</i>
            </div>
        </div> 
        </a>
        <a href="/">
        <div class="card ideacard card_href" style="display: inline;">
            <div class="cardImg_board"><img class="card_image" src="{% static 'image/bg4.jpg' %}"></div> <!--16:9-->
            <span class="idea_name">민초에미초</span>
            <p>아이디어 설명 어쩌구 블라블라블라 분홍색 노란색 하늘색 흰색 보라색 녹색<br>likelion hack your life!<i class="fas fa-bath"></i></p>
            <div class="user_div"><hr>
            <img class="cardprofile" src="{% static 'image/lion.png'%}">짱구<i class="far fa-comment">&nbsp;3</i>
            </div>
        </div> 
        </a>
        <a href="/">
        <div class="card ideacard card_href" style="display: inline;">
            <div class="cardImg_board"><img class="card_image" src="{% static 'image/bg5.jpg' %}"></div> <!--16:9-->
            <span class="idea_name">toAnyone</span>
            <p>아이디어 설명 어쩌구 블라블라블라 분홍색 노란색 하늘색 흰색 보라색 녹색<br>likelion hack your life!<i class="fas fa-bath"></i></p>
            <div class="user_div"><hr>
            <img class="cardprofile" src="{% static 'image/lion.png'%}">오즈의마법사<i class="far fa-comment">&nbsp;6</i>
            </div>
        </div> 
        </a>
        <a href="/">
        <div class="card ideacard card_href" style="display: inline;">
            <div class="cardImg_board"><img class="card_image" src="{% static 'image/bg6.jpg' %}"></div> <!--16:9-->
            <span class="idea_name">생각이안나</span>
            <p>아이디어 설명 어쩌구 블라블라블라 분홍색 노란색 하늘색 흰색 보라색 녹색<br>likelion hack your life!<i class="fas fa-bath"></i></p>
            <div class="user_div"><hr>
            <img class="cardprofile" src="{% static 'image/lion.png'%}">세일러문<i class="far fa-comment">&nbsp;1</i>
            </div>
        </div> 
        </a>
        <a href="/">
            <div class="card ideacard card_href" style="display: inline;">
                <div class="cardImg_board"><img class="card_image" src="{% static 'image/bg9.jpg' %}"></div> <!--16:9-->
                <span class="idea_name">생각이안나</span>
                <p>아이디어 설명 어쩌구 블라블라블라 분홍색 노란색 하늘색 흰색 보라색 녹색<br>likelion hack your life!<i class="fas fa-bath"></i></p>
                <div class="user_div"><hr>
                <img class="cardprofile" src="{% static 'image/lion.png'%}">세일러문<i class="far fa-comment">&nbsp;1</i>
                </div>
            </div> 
            </a> 
    </div> 
</body>
<footer class="footer">
    <div class="">
      <div class="footer_cnts">
        <h5>김태영</h5>
        <ul class="">
          <li><span class="" href="#">전 6,7기멤버</a></li>
          <li><span class="" href="#">DIGIST 운영진</a></li>
          <li><span class="" href="#">뭐 이런거 쓰자ㅏㅏ</a></li>
        </ul>
      </div>
      <div class="footer_cnts">
        <h5>박지형</h5>
        <ul class="">
          <li><span class="" href="#">전 7기멤버</span></li>
          <li><span class="" href="#">서울여대 운영진</span></li>
          <li><span class="" href="#">가나다순이야</span></li>
        </ul>
      </div>
      <div class="footer_cnts">
        <h5>신효경</h5>
        <ul class="">
          <li><span class="" href="#">전 7기멤버</span></li>
          <li><span class="" href="#">동덕여대 운영진</span></li>
          <li><span class="" href="#">어쩌구</span></li>
        </ul>
      </div>
      <div class="footer_cnts">
        <h5>최광일</h5>
        <ul class="">
          <li><span class="" href="#">전 7기멤버</span></li>
          <li><span class="" href="#">아주대 운영진</span></li>
          <li><span class="" href="#">Privacy</span></li>
        </ul>
      </div>
    </div>
</footer>
</html>