@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import '../../../main/static/style/typography';
@import '../../../main/static/style/layout25';

.signin_section{
    text-align: center;
    margin: 12% 10%;
    a{
        text-decoration: none;
        #signin_logo{
            height: 60px;
        }  
        b{
            color: black;
            margin: 10px;
            font-size: 30px;
        }
    }
}

.login_form{
    display: flex;
    flex-direction: column;
    margin: 60px;

    input{
        margin: 10px auto;
        font-size: 20px;
        width: 600px;
        height: 50px;
        border: 1px solid #B8B8B8;
        border-radius: 20px;
        padding: 0 20px;
        outline: none;
    }

    button{
        margin: 10px auto;
        font-size: 25px;
        width: 640px;
        height: 50px;
        border: #f39926;
        border-radius: 20px;
        background-color: #f39926;
        font-weight: bold;
        outline: none;
    }
}