<!DOCTYPE html>
{% load sass_tags %}
<html>
<head>
  <title>Like Lion Ideathon</title>
  <link href="{% sass_src 'style/detail.scss' %}" rel="stylesheet" type="text/css"/> 
</head>
<body>

<div class = "container">

    <div class = "header">
        <p>LikeLion Ideathon</p>
    </div>
    <div class = "content">
        <div class = "no">

        </div>
        <div class = "idea">
            <div class = "idea_container">
                <div class = "title">
                    <p>북적북적</p>
                </div>
                <div class = "sub_title">
                    <p>북 트레일러 영상 공유 플래폼</p>
                </div>
                <div class = "image">
    
                </div>
                <div class = "description">
                    <p>이렇고 저렇고</p><br>
                    <p>이렇고 저렇고</p><br>
                    <p>이렇고 저렇고</p>
                </div>
                <div class = "bottom">
                    <p>#북 트레일러</p>
                    <p>#영상</p>
                    <p>#플랫폼</p>
                </div>
            </div>
        </div>
    </div>

    <div class = "comment">
        <div class = "no">
            
        </div>
            <div class = "comments">
                <div class = "comment_input">

                </div>
                <div class = "comment_list">

                </div>
            </div>
    </div>

    <div class = "footer">

    </div>

</div>

</body>
</html>