<!DOCTYPE html>
{% load sass_tags %}
{% load static %}
<html>
<head>
  <title>Like Lion Ideathon</title>
  <link href="{% sass_src 'style/detail.scss' %}" rel="stylesheet" type="text/css"/> 
  <link href="{% static 'style/detail.scss' %}" rel="stylesheet" type="text/css"/> 
</head>

<body>

<div class = "container">

    <div class = "header">
        <a href="/"><img class="logo" src="{% static 'img/basiclogo_E_H.png' %}">&nbsp;<b>IDEATHON</b></a>
        <span class="menu">
            <a href="#">Log out</a>
            |
            <a href="#">My Page</a>
        </span>
    </div>

    <div class = "content">
        <div class = "no">
        </div>

        <div class = "idea">
            <div class = "idea_container">
                
                <div class = "title">
                    <div class = "title_name">
                        <p>북적북적</p>
                    </div>

                    <div class = "title_basket">
                        <p>15명이 찜했습니다</p>
                    </div>
                </div>

                <div class = "sub_title">

                    <div class = "sub_title_name">
                        <p>북 트레일러 영상 공유 플래폼</p>
                    </div>

                    <div class = "sub_title_school">
                        <p>멋사대학교</p>
                    </div>

                    <div class = "sub_title_author">
                        <p>홍길동</p>
                    </div>

                    <div class = "sub_title_time">
                        <p>작성시간</p>
                    </div>

                </div>

                <div class = "image">
                    <div class = "image_box">
                        <img class = "image_real" src = "{% static 'img/1.png' %}" width = "700px" height = "400px">
                        <img class = "image_real" src = "{% static 'img/1.png' %}" width = "700px" height = "400px">
                    </div>
                </div>

                <div class = "description">
                    <div class = "description_box">
                        <h5>이렇고 저렇고</h5>
                        <h5>이렇고 저렇고</h5>
                        <h5>이렇고 저렇고</h5>
                    </div>
                </div>

                <div class = "bot">
                    <div class = "bot_box">
                        <div class = "bot_box_hashbox">
                            <div class = "bot_box_hashbox_hashtag">
                                <div class = "bot_box_hashbox_hashtag_item">
                                    #북 트레일러
                                </div>
                                <div class = "bot_box_hashbox_hashtag_item">
                                    #영상
                                </div>
                                <div class = "bot_box_hashbox_hashtag_item">
                                    #플랫폼
                                </div>
                                <div class = "bot_box_hashbox_hashtag_item">
                                    #북 트레일러
                                </div>
                                <div class = "bot_box_hashbox_hashtag_item">
                                    #가나다라마바사아자차카타파하
                                </div>
                                <div class = "bot_box_hashbox_hashtag_item">
                                    #북 트레일러
                                </div>
                                <div class = "bot_box_hashbox_hashtag_item">
                                    #북 트레일러
                                </div>
                            </div>
                    </div>
    
                    <div class = "bot_box_edit">
                        <div class = "bot_box_edit_box1">
                            <p>수정</p>
                        </div>
                        <div class = "bot_box_edit_box2">
                            <p>삭제</p>
                        </div>
                    </div>
                </div>
        
            </div>
            </div>
        </div>
    </div>

    <div class = "comment">
        
        <div class = "no">
            
        </div>

        <div class = "comments">
                
                <div class = "comments_box">
                    <div class = "comments_box_input">
                        <div class = "comments_box_input_start">
                            <div class = "comments_box_input_start_image">
                                <img src = "{% static 'img/1.png' %}" width = "25px" height = "25px">
                            </div>
                            <div class = "comments_box_input_start_school">
                                <p>대학교</p>
                            </div>
                            <div class = "comments_box_input_start_name">
                                <p>이름</p>
                            </div>
                        </div>

                        <form action = "" class = "comments_box_input_form" method = POST>
                            {% csrf_token %}
                            <input type = "text" placeholder = "아이디어에 대한 의견을 자유롭게 작성해주세요!" name = "comment">
                            <button type=submit class = "comments_box_input_form_button"><p>제출</p></button>
                        </form>

                    </div>
                </div>

                <div class = "comments_order_box">
                    <div class = "comments_order_box_order">
                        <div class = "comments_order_box_order_item1">
                            <h5> 1 개의 댓글이 있습니다</h5>
                        </div>
                        
                        <div class = "comments_order_box_order_item2">
                            <button type="menu" class = "comments_order_box_order_item2_button">최신순</button>
                            <button type="menu" class = "comments_order_box_order_item2_button">답글순</button>
                        </div>
                    </div>
                </div>

                <div class = "comments_list">
                
                    <div class = "comments_box">
                        {% for comment in comment_list %}
                        <div class = "comments_real">
                            <div class = "comments_author_info">
                                <div class = "comments_author_info_image">
                                    <img src = "{% static 'img/1.png' %}" width = "25px" height = "25px">
                                </div>
                                <div class = "comments_author_info_name">
                                    이름
                                </div>
                                <div class = "comments_author_info_school">
                                    대학교
                                </div>
                                <div class = "comments_author_info_time">
                                    {{comment.create_data}}
                                </div>
                            </div>

                            <div class = "comments_content_box">

                                <div class = "comments_content">
                                    {{comment.text}}         
                                    {{comment.pk}}                           
                                </div>
    
                                <div class = "comments_add">
                                    <button class = "comments_add_button" type="menu" id = "btn-comment">답글</button>
                                </div>
    
                                <div id = "new_comment" class = "new_comment">
                                    <form action = "" class = "add_comment_form" method = POST>
                                        {% csrf_token %}
                                        <input type = "text" class = "new_comment_on_input" placeholder = "댓글에 대한 답글을 입력해주세요" name = "addcomment">
                                        <button type=submit class = "new_comment_on_button">제출</button>
                                    </form>
                                </div>
    
                                <div id = "add_comment_list" class = "add_comment_list">
                                {% for add_comments in addcomment_list %}
                                    <div class = "add_comment">
                                        
                                        <div class = "add_comment_author_info">
                                            <div class = "add_comment_author_info_image">
                                                <img src = "{% static 'img/2.jpg' %}" width = "25px" height = "25px">
                                            </div>
                                            <div class = "add_comment_author_info_name">
                                                이름
                                            </div>
                                            <div class = "add_comment_author_info_school">
                                                대학교
                                            </div>
                                            <div class = "add_comment_author_info_time">
                                                {{add_comments.create_data}}
                                            </div>
                                        </div>

                                        <div class = "add_comment_content">
                                            {{add_comments.text}}
                                        </div>

                                    </div>
                                {% endfor %}    
                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>                            
                </div>
                
        </div>
                
            
    </div>

    <div class = "footer">

    </div>

</div>
</body>

<script type = "text/javascript">

    const add_comment = document.getElementById("new_comment");
    const add_comment_list = document.getElementById("add_comment_list")
    const btn_comment = document.getElementById('btn-comment');

    const NEW_COMMENT_ON = "new_comment_on";
    const NEW_COMMENT = "new_comment"
    const ADD_COMMENT_LIST = "add_comment_list";
    const ADD_COMMENT_LIST_ON = "add_comment_list_on";

    function handleClick(){
        const currentClass = add_comment.className;
        console.log(currentClass);

        if (currentClass == NEW_COMMENT){
            add_comment.classList.add(NEW_COMMENT_ON);
            add_comment_list.classList.add(ADD_COMMENT_LIST_ON);
        } else {
            add_comment.classList.remove(NEW_COMMENT_ON);
            add_comment_list.classList.remove(ADD_COMMENT_LIST_ON);
        }
    }

    function init(){
        btn_comment.addEventListener("click", handleClick);
    };

    init();    

    // let comment = "{{comment}}";
    // console.log(comment);

    // let comment_list = "{{comment_list}}"
    // // let parsed_list = JSON.parse(comment_list);
    // console.log(comment_list);
    // // console.log(parsed_list);

    // const CommentForm = document.querySelector(".comment_form");
    // // const CommentInput = CommentForm.querySelector("input");
    // const Comments = document.querySelector(".comment_list2");

    // console.log(CommentForm);
    // console.log(CommentInput);

    // const list_comments = "List";

    // let CommentArray = [];

    // function DeleteComment(event){

    //     const target = event.target;
    //     const Del_li = target.parentNode;
    //     Comments.removeChild(Del_li);

    //     const CleanCommentArray = CommentArray.filter(function(comment){
    //         return comment.id !== parseInt(Del_li.id);
    //     })  // 선택한 id 빼고 저장해줌

    //     CommentArray = CleanCommentArray;   // 교체
    //     SaveComments;
    // }

    

    // function SaveComments(){
    //     localStorage.setItem(list_comments, JSON.stringify(CommentArray));
    // }

    // function AddComment(comment){

    //     const li = document.createElement("li");

    //     // li 에 들어갈 것들
    //     const delBtn = document.createElement("button");
    //     const span = document.createElement("span");
    //     const NewId = CommentArray.length + 1;

    //     delBtn.innerText = "삭제"; // innertext 는 value 값 지정
    //     delBtn.addEventListener("click", DeleteComment);
    //     span.innerText = comment;
        
    //     li.appendChild(span);   // li 안에 span 넣고
    //     li.appendChild(delBtn);   // li 안에 delBtn 넣고
    //     li.id = NewId;  // li에 id 부여

    //     Comments.appendChild(li);

    //     const CommentObj = {
    //         comment : comment,
    //         id : NewId,
    //     };

    //     CommentArray.push(CommentObj);
    //     SaveComments();
    // }

    // function something(Comment){
    //     AddComment(Comment.text);
    // }

    // // function handleSubmit(event){   // submit 시 동작어떻게 할지
    // //     event.preventDefault();
    // //     const comment = CommentInput.value;
    // //     AddComment(comment);
    // //     CommentInput.value = ""; // submit 시 댓글 창 초기화
    // // }

    // function ShowComment(index){
    //     const list = localStorage.getItem(list_comments); // 로컬에 set 한 것들을 getItem
        
    //     if (list !== null){
    //         const parsedCommentList = JSON.parse(list);
    //         something(parsedCommentList);
    //     }
    // }

    // function init(){
    //     ShowComment();
    //     CommentForm.addEventListener("submit", handleSubmit);
    // }

    // init();

</script>

</html>