@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import '../../../mypage/static/style/typography';

html{
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
}
/* 앞으로의 모든 header들 */
header{
    margin: 20px;
    
    .logo{
        width: 260px;
        height: 31px;
        left: 26px;
        top: 30px;
    }

    a{  
        font-size: 20px;
        margin: 10px;
        color: black;
        text-decoration: none;
    }
    
    .menu{
        float: right;
    }
}

/* Main Page */
#main_body{
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(img/hackerthon.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    /*background-size: 100%;*/
    background-repeat: no-repeat;
}

#mainpage_header{
    @extend header;
    a{
        color: white;
    }
}

.main_section{
    margin-top: 10%;
    text-align: center; 
    h1{
        font-weight: 600;
        font-size: 63px;
        line-height: 98px;
        color: white;
    }
    h4{
        margin-bottom: 45px;
        color: white;
    }
    a{
        button{
            width: 150px;
            height: 35px;
            background: rgba(255,255,255,0.7);
            border-style: none;
            border-radius: 10px;
            outline: none;
            font-size: 15px;
            font-weight: bold;
        }
        
    }

}

/* Sign in Page */

.signin_section{
    text-align: center;
    margin: 10%;
    a{
        text-decoration: none;
        #signin_logo{
            width: 382px;
            height: 45px;
        }
        
        b{
            color: black;
            margin: 10px;
            font-size: 24px;
        }
    }
    #login_form{
        margin: 60px;
    }
    div{
        margin: 30px;
    }
    input{
        width: 75%;
        height: 35px;
        border: 1px solid #B8B8B8;
        border-radius: 20px;
        padding-left: 20px;
    }
    button{
        @extend input;
        width: 80%;
        border: #f39926;
        background-color: #f39926;
        font-weight: bold;
        font-size: 20px;
    }
}

/* Submit Idea Page */

#submit_idea_header{
    @extend header;
    padding-left:20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right:0;
    padding-bottom: 10px;
    border-bottom: 1px solid #B8B8B8;
}

#submit_form{
    
    font-size: 20px;
    font-weight: bold;
    /*padding: 50px;*/
    
    div{
        margin: 20px;
    }


    #submit_left{
        padding-right: 48px;
        width: 50%;
        float: left;
        box-sizing: border-box;
        margin-top: 20px;

        .InputText{
            padding-left: 20px;
            width: 100%;
            height: 50px;
            border: 1px solid #A9A9A9;
            border-radius: 10px;
            font-size: 15px;
        }

        .InputTextArea{
            font-family: 'Noto Sans', sans-serif;
            padding-top: 20px;
            padding-left: 20px;
            height: 120px;
            width: 100%;
            border: 1px solid #A9A9A9;
            border-radius: 10px;
            font-size: 15px;
        }
    }

    #submit_right{
        padding-right: 50px;
        width: 50%;
        float: right;
        border-left: 2px solid #B8B8B8;
        box-sizing: border-box;
        margin-top: 20px;
        height: 500px;

        a{
            text-decoration: none;
            font-size: 16px;
            color: white;
            padding: 5px 10px 5px 10px;
            margin-left: 10px;
            display: inline-block;
            border-radius: 10px;
            background-color: #f39926;
        }

        #input_imgs{
            display: none;
        }

        .imgs_wrap{
            width: 100%;
            height: 210px;
            white-space:nowrap;
            overflow-x:scroll;
    
            img{
                max-width: 320px;
                height: 180px;
            }
        }

        #submitB{
            float: right;
            background-color: #f39926;
            color: white;
            border-radius: 10px;
            border:none;
            width: 100px;
            height: 40px;
            font-size: 20px;
            font-weight: bold;
            margin-top: 10px;
        }

        .InputText{
            padding-left: 20px;
            width: 100%;
            height: 50px;
            border: 1px solid #A9A9A9;
            border-radius: 10px;
            font-size: 15px;
        }
        
    }
    

}

