@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import '../../../mypage/static/style/typography';

html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
}

/* 앞으로의 모든 header들 */
header {
    margin: 20px;

    .logo {
        width: 260px;
        height: 31px;
        left: 26px;
        top: 30px;
    }

    a {
        font-size: 20px;
        margin: 10px;
        color: black;
        text-decoration: none;
    }

    .menu {
        float: right;
    }
}

/* Main Page */
#submit_body {
    height: 100%;
    //background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/hackerthon.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    //background-color: black;
    /*background-size: 100%;*/
    background-repeat: no-repeat;
}

/* Submit Idea Page */

#submit_idea_header {
    @extend header;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #B8B8B8;
}

#submit_form {
    font-size: 20px;
    font-weight: bold;
    /*
    div {
        margin: 20px;
    }
    */

    #submit_left {
        padding-right: 48px;
        width: 50%;
        float: left;
        box-sizing: border-box;
        margin-top: 20px;
        overflow: hidden;
        height: auto;


    }

    #submit_right {
        padding-right: 50px;
        width: 50%;
        float: right;
        border-left: 2px solid #B8B8B8;
        box-sizing: border-box;
        margin-top: 20px;
        height: 500px;

        #submitB {
            float: right;
            background-color: #f39926;
            color: white;
            border-radius: 10px;
            border: none;
            width: 100px;
            height: 40px;
            font-size: 20px;
            font-weight: bold;
            margin-top: 10px;
        }

        .InputText {
            padding-left: 20px;
            width: 100%;
            height: 50px;
            border: 1px solid #A9A9A9;
            border-radius: 10px;
            font-size: 15px;
        }

        .InputTextArea {
            font-family: 'Noto Sans', sans-serif;
            padding-top: 20px;
            padding-left: 20px;
            height: 120px;
            width: 100%;
            border: 1px solid #A9A9A9;
            border-radius: 10px;
            font-size: 15px;
        }
    }
}

.swiper-container {
    width: 300px;
    height: auto;
    overflow: hidden;
    margin: 0 !important;


    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        .swiper-wrapper {
            width: 100%;
            height: auto;
            margin: 0 !important;
        }

        .swiper-slide-img {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;

        }

        .swiper-button-prev:after,
        .swiper-button-next:after {
            position: absolute;
            top: 50px
        }
    }
}