//tablets
@media (min-width: 500px) and ( max-width: 810px ){
    header{
        text-align: center;
        .logo{
            width: 280px;
            height: auto;
        }
        .menu{
            display: none;
        }
    }

    .footer{
        padding: 40px 40px;
        text-align: left;
        height: 200px;
        .slogan{
            font-size: 20px;
            margin-bottom: 20px;
        }
        .developer{
            font-size: 12px;
            color: #929292;
            margin-bottom: 20px;
        }
        &__bottom{
            margin-top: 12px;
            .right{
                font-size: 12px;
            }
        }
    }
}

//mobile
@media ( max-width: 499px ){
    header{
        text-align: center;
        .logo{
            width: 160px;
            height: auto;
        }
        b{
            display: none;
        }
        .menu{
            display: none;
            //float: right;
        }
    }
    
    .footer{
        padding: 16px 16px;
        text-align: center;
        height: 200px;
        .slogan{
            font-size: 12px;
            margin-bottom: 16px;
        }
        .developer{
            font-size: 8px;
            color: #929292;
            margin-bottom: 10px;
        }
        &__bottom{
            margin-top: 8px;
            text-align: center;
            .right{
                margin: 0 auto;
                font-size: 8px;
            }
        }
    }
}