// ==================== color =========================

$lioncolor : rgb(243, 153, 37);

// ====================================================
div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    //flex-direction: column;
}
div::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

html, body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    height: 100%;
    background-color: rgba($color: #f5f6f8, $alpha: 1.0);
    font-family: 'Noto Sans', sans-serif;

}

// header
header{
    width: 100%;
    flex-direction: row;
    padding: 1% 0;
    color: white;
    align-items: center;

    .logo{
        width: 260px;
        height: 31px;
        left: 26px;
        top: 30px;
    }
    a{  
        color: white;
        font-size: 20px;
        margin: 10px;
        text-decoration: none;
    }
    b{
        color: white;
    }
    .menu{
        float: right;
    }
}

.dark{
    @extend header;
    
    a{
        color: white;
    }
    b{
        color: white;
    }
    background-color:rgba(0, 0, 0, .4);
    
    z-index : 1;
    position: fixed;
    
}

.change {
    background-color:rgba(0, 0, 0, .4);
}

.bright{
    @extend header;
    a{
        color: black;
    }
    b{
        color: black;
    }
    border-bottom: 1px solid #B8B8B8;
}


// footer
.footer{
    position: relative;
    z-index: 0;
    padding: 60px 160px;
    margin-top: auto;
    background-color: #302C28;
    color: white;
    text-align: left;
    height: 200px;
    flex-direction: column;
    .slogan{
        margin-bottom: 30px;
    }
    .developer{
        color: #929292;
        margin-bottom: 30px;
    }

    hr{
        margin: 0;
    }
    &__bottom{
        color: #929292;
        margin-top: 20px;
        .link{
            flex-direction: row;
        }
    }
}


// button
@mixin clearbtn ($wid : 120px, $hig : 40px) {
    width: $wid;
    height: $hig;
    //background-color: #e5e5e5;
    border: 1px solid #dadada;
    border-radius: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

@import "./layout_mobile"