html{
    ::-webkit-scrollbar { display: none; }
}
.container{
    margin-bottom:60px;
}
.comment_list{
    margin-left: 10%;
    font-size: 21px;
    color: black;
    text-shadow: 2px 2px 4px lightgrey;
}
.cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    hr{
        height:2px;
    }
}
.card{
    width:70%;
    margin:3px;
    padding:15px;
    &__header{
        font-size: 23px;
    }
    &__contents{
        font-size: 22px;
        color:rgb(119, 118, 118);
        margin:10px 0px 10px 10px;
    }
    &__date{
        color:lightgrey;
        font-size: 13px;
    }
}
