<!DOCTYPE html>
{% load sass_tags %}
{% load static %}
{% load comment %}
<html>

<head>
    <title>Like Lion Ideathon</title>
    <link href="{% sass_src 'style/detail.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'style/comments.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'style/detail.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'style/detail.scss' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    
    {% include 'bright_header.html' %}
    
    {% block content %}
        <p class="comment_list">댓글 목록</p><br>
        <hr width="80%">

        {% for i in comments %}
        <div class="cards">
            <div class="card">
                <div class="card__header">
                    <p>{{i.idea.idea_title}} &nbsp; <p class="card__date">{{i.create_data}}</p></p>
                </div>
                <div class="card__contents">
                    <p>{{i.text |linebreaksbr |truncatewords:150 }}</p>
                </div>
                
            </div>
        </div>
        <hr width="80%">
        {% endfor %}
    {% endblock %}
</body>
</html>
