<div class="footer">
    <h5 class="slogan"> LIKELION Ideathon - 당신의 아이디어가 세상을 바꿉니다 </h5>
    <h6 class="developer"> 만든이: <info class="ty"> 김태영 </info> <info class="jh"> 박지형 </info> <info class="hk"> 신효경 </info> <info class="ki"> 최광일 </info><br/>
        Contect: kt9393@likelion.org </h6>
    <hr/>
    <div class="footer__bottom">
        <h6 class="right"> ALL RIGHTS RESERVED © LIKELION </h6>
        <div class="link">
            <i class="fab fa-facebook-square fa-2x" style="color:#929292; margin-right:10px;"></i>
            <i class="fab fa-github-square fa-2x" style="color:#929292;"></i>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".ty").hover(function(){
            $(".tyinfo").css({
                "display":"block",
            })
        },
        function(){
            $(".tyinfo").css({
                "display":"none",
            }) 
        })
    })
</script>