@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import '../../../mypage/static/style/typography';

input, button, textarea, menu {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border : none;
}

p{
    all: unset;
}

.container{
    display : grid;
    grid-template-areas: 'header'
                         'content'
                         'comment'
                         'footer';
    grid-template-rows: 60px 6fr 4fr 100px;
    max-height : 5000px;
}

// 여기부터 헤더
.header{
    grid-area : 'header';
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #B8B8B8;

    .logo{
        width: 260px;
        height: 31px;
        left: 26px;
        top: 30px;
    }

    a{  
        font-size: 20px;
        margin: 10px;
        color: black;
        text-decoration: none;
    }
    
    .menu{
        float: right;
    }
}

//여기부터 content
.content{
    display : grid;
    grid-template-areas: 'no' 'idea' 'no';
    grid-template-columns: 1.5fr 7fr 1.5fr;
    grid-area : 'content';
}

.idea{
    grid-area : 'idea';
    background-color: white;
    display : flex;
    justify-content: center;
    
    &_container{
        margin-top : 20px;  
        display : flex;
        flex-direction: column;
        width : 800px;
    }
}

// 아이디어 타이틀 부분
.title{
    height : 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;
    
    &_name{
        flex : none;
        display : block;
        font-size : 40px;
        text-align : center;
        max-width : 800px;
    }

    &_sub{
        flex : none;
        display : block;
        margin-top : 10px;
        font-size : 20px;
        text-align : center;
        max-width : 800px;
        color : rgb(126, 126, 126);
    }
}

.author_info{

    height : 30px;
    display :flex;
    flex-direction : row;
    justify-content : flex-end;
    border-bottom : 1px solid rgb(202, 202, 202);

    &_school{
        color : black;
        font-size : 15px;
        padding : 0px 0px 0px 0px;
        margin-right : 10px;
        max-width : 200px;
    }

    &_name{
        padding-bottom: 10px;
        font-size : 15px;
        color : black;
        max-width : 100px;
        margin-right : 10px;
    }

    &_time{
        color : rgb(126, 126, 126);
        font-size : 15px;
        padding : 0px 10px 10px 0px;
        margin-right : 10px;
        max-width : 200px;
    }
}

// 아이디어 사진 부분
.image{
    margin-top: 20px;
    max-height: 1500px;
    display : flex;
    justify-content: center;

    &_box{
        flex:none;
        width : 800px;
        display: flex;
        flex-direction: column;
        max-height: 1500px;
    }

    &_real{
        margin-bottom : 30px;
    }

}

// 아이디어 요약
.description{
    display : flex;
    justify-content: center;

    &_box{
        display : block;
        width : 800px;
        max-height: 800px;
        margin : 10px 0px 10px 20px; 
        font-size : 10px;
        padding : 20px 0px 0px 10px;
        margin-bottom : 100px;
    }
}

.bot {
    display : flex;
    justify-content: center;
    max-height: 300px;

    &_box{
        width : 800px;
        display : flex;
        flex-direction: row;
        
        &_hashbox{
            width : 700px;

            &_hashtag{
                display : flex;
                max-height : 200px;
                flex-wrap : wrap-reverse;
                margin-bottom: 1%;

                &_item{
                    flex-grow: 0;
                    flex-shrink: 1;
                    flex-basis: auto;
                    max-width : 200px;
                    text-align : center;
                    white-space : nowrap;   // 텍스트 길어도 줄바꿈 ㄴㄴ
                    text-overflow: ellipsis;    // 잘린 텍스트 ...표기
                    overflow:hidden;    // 잘린거 안보이게 
                    margin : 0px 10px 0px 10px;
                }
            }
        }

        &_cart{
            width : 100px;

            &_button{
                border : 1px solid rgb(180, 180, 180);
                color : black;
                width : 100px;
                height : 30px;
                text-align : center;
                margin-right : 1%;
                box-shadow: 0px 1px 1px 0px rgb(206, 206, 206);
                margin-bottom : 15%;
                background-color: white;
        
                &:hover{
                    color : white;
                    background-color: #F39925;
                    transition: 0.3s;
                }
            }
        }

        &_cart_on{
            width : 100px;

            &_button{
                border : 1px solid rgb(180, 180, 180);
                color : white;
                width : 100px;
                height : 30px;
                text-align : center;
                margin-right : 1%;
                box-shadow: 0px 1px 1px 0px rgb(206, 206, 206);
                margin-bottom : 15%;
                background-color: #F39925;
        
                &:hover{
                    color : black;
                    background-color: white;
                    transition: 0.3s;
                }
            }
        }

        &_edit{
            display : flex;
            height : 50px;
            width : 800px;
            flex-direction : row;
            justify-content : flex-end;
        
            &_box1{
                border : 1px solid rgb(180, 180, 180);
                color : black;
                width : 60px;
                height : 30px;
                text-align : center;
                margin-right : 1%;
                box-shadow: 0px 1px 1px 0px rgb(206, 206, 206);
        
                &:hover{
                    color : white;
                    background-color: #F39925;
                    transition: 0.3s;
                }
            }
        
            &_box2{
                border : 1px solid rgb(180, 180, 180);
                width : 60px;
                color : black;
                height : 30px;
                text-align : center;
                margin-right : 1%;
                box-shadow: 0px 1px 1px 0px rgb(206, 206, 206);
                transition: 0.3s;
        
                &:hover{
                    color : white;
                    background-color: #F39925;        
                    transition: 0.3s;
                }
            }
        }
    }
}

// 여기부터 comment
.comment{
    display : grid;
    grid-template-areas: 'no' 'comments' 'no';
    grid-template-columns: 1.5fr 7fr 1.5fr;
    grid-area : 'comment';
    overflow: hidden;
}

.comments{
    grid-area : 'comments';
    display : flex;
    justify-content: center;

    &_container{
        flex: none;
        border-top : solid 1px rgb(221, 221, 221);
        display : flex;
        width : 800px;
        flex-direction: column;
    }

    &_box{
        display : flex;
        justify-content: center;
        width : 800px;
        margin-top : 1%;

        &_input_none{
            display : flex;
            justify-content: center;
            align-items: center;
            width : 800px;
            height : 100px;
            margin-top : 2%;

            &_box{
                display : flex;
                flex-direction: row;
                max-width: 800px;
            }

            &_text{
                flex : none;
                max-width : 600px;
                height : 40px;
                margin-right : 2%;
            }
        
            &_button{
                flex : none;
                margin-left : 2%;
                border : 1px solid rgb(180, 180, 180);
                color : black;
                width : 100px;
                height : 40px;
                text-align : center;
                background-color: white;
                box-shadow: 0px 1px 1px 0px rgb(206, 206, 206);

                &a:hover{
                    color : white;
                    background-color: #F39925;
                    transition: 0.3s;
                }
            }
        }

        &_input{
            display : flex;
            flex-direction: column;
            height : 140px;
            width : 800px;
            margin-top : 2%;

            &_start{
                height : 35px;
                display : flex;
                flex-direction: row;

                &_image{
                    background-color: #F39925;
                    border-radius: 3px;
                    width : 25px;
                    height : 25px;
                    margin-right : 10px;
                }
                &_image_real{
                    border-radius: 10px;
                }

                &_name{
                    flex : none;
                    max-width : 100px;
                    margin-right : 10px;
                }

                &_school{
                    flex : none;
                    max-width : 100px;
                    margin-right : 10px;
                }
            }

            &_form{
                    height : 160px;
                    display : flex;
                    flex-direction: row;
                    align-items: flex-end;
    
                    &_button{
                        display :inline-block;
                        border : 1px solid rgb(180, 180, 180);
                        color : black;
                        width : 70px;
                        height : 40px;
                        text-align : center;
                        background-color: white;
                        margin-left : auto;
                        box-shadow: 0px 1px 1px 0px rgb(206, 206, 206);
                        margin-right : 1%;
    
                        &:hover{
                            color : white;
                            background-color: #F39925;
                            transition: 0.3s;
                        }
                    }
            }
        }
    }

    &_order_box{
        display : flex;
        justify-content: center;
        margin-top : 1%;

        &_order{
            display : inline-block;
            width : 800px;
            display : flex;
            flex-direction: row;

            &_item1{
                max-width : 300px;
                display : inline-block;
                color : #F39925;
            }
    
            &_item2{
                flex : none;
                width : 150px;
                margin-left : 3%;
                padding-top : 3px;

                &_button{
                    display :inline-block;
                    border : 1px solid rgb(180, 180, 180);
                    color : black;
                    width : 60px;
                    height : 30px;
                    text-align : center;
                    background-color: white;
                    box-shadow: 0px 1px 1px 0px rgb(206, 206, 206);
                
                    &:hover{
                        color : white;
                        background-color: #F39925;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    
    // 여기부터 달린 댓글
    &_list{
        margin-top : 1%;
        display : flex;
        justify-content: center;
        max-height: 2000px;
    }

    &_box{   
        display : flex;
        flex-direction: column;
    }

    &_real{
        flex : none;
        width : 800px;
        max-height: 2000px;
        display : inline-block;
        margin-top : 1%;
        border-bottom: 1px solid rgb(182, 182, 182);
    }

    &_author_info{
        display : flex;
        flex-direction: row;
        height : 30px;
        max-width : 300px;
            
        &_image{
                            flex : none;
                            width : 25px;
                            height : 25px;
                            margin-right : 10px;
                        }
        
        &_image_real{
            border-radius: 10px;
        }
        
        &_name{
                            flex : none;
                            max-width : 100px;
                            margin-right : 10px;
                        }
        
        &_school{
                            flex : none;
                            max-width : 100px;
                            margin-right : 10px;
                        }
        
        &_time{
                            flex : none;
                            max-width : 200px;
                        }
    }

    &_content_box{
        max-height : 2000px;
    }

    &_content{
        display : flex;
        flex-direction: row;
        max-height : 150px;
        margin-bottom : 10px;
        

        &_left{
            flex : none;
            text-overflow: ellipsis;    // 잘린 텍스트 ...표기
            white-space: normal;
            overflow: hidden;
            max-width : 700px;
        }

        &_right{
            flex : none;
            margin-left : auto;
            margin-top : auto;
            width : 71px;
            
            &_button{
                display :block;
                border : 1px solid rgb(180, 180, 180);
                color : black;
                width : 70px;
                height : 40px;
                text-align : center;
                background-color: white;
                box-shadow: 0px 1px 1px 0px rgb(206, 206, 206);
    
                &:hover{
                    color : white;
                    background-color: #F39925;
                    transition: 0.3s;
                }
            }
        }
    }
}

.new_comment{
    display : block;
        width : 800px;
        max-height : 300px;
        margin-top : 2%;

    &_input[type=text]{
            width : 620px;
            height : 40px;
            border : 1px solid rgb(180, 180, 180);
            margin-left : 2%;
        
            &::placeholder{
                all : unset;
                color : rgb(90, 90, 90);
                vertical-align : text-top;
            }
    }
    
    &_button{
            border : 1px solid rgb(180, 180, 180);
            color : black;
            width : 70px;
            height : 40px;
            text-align : center;
            background-color: white;
            margin-left : auto;
            box-shadow: 0px 1px 1px 0px rgb(206, 206, 206);
            margin-right : 1%;
    
        &:hover{
                color : white;
                background-color: #F39925;
                transition: 0.3s;
        }
    }
    &_form{
        display : flex;
        flex-direction: row;
        align-items: flex-end;
        margin-top : 1%;
    }

    &_info{
        display : flex;
        flex-direction: row;
        height : 30px;
        max-width : 300px;
        margin-left : 2%;

        &_image{
            flex : none;
            border-radius: 15px;
            width : 25px;
            height : 25px;
            margin-right : 10px;
        }

        &_name{
            flex : none;
            max-width : 100px;
            margin-right : 10px;
        }

        &_school{
            flex : none;
            max-width : 100px;
            margin-right : 10px;
        }
    }
}

#btn-comment{
    cursor: pointer;
}

.add_comment_list{
    display : none;
}

.add_comment_list_on{
    display : flex;
    flex-direction: column;
    position : relative;
    max-height : 2000px;
    width : 800px;
    margin-bottom : 20px;
}

.add_comment{
    display : inline-block;
    position : relative;
    max-height : 200px;
    width : 640px;
    margin-left : 2%;
    margin-bottom : 2%;

    &_content{
        margin-top : 1%;
    }

    &_author_info{
        display : flex;
        flex-direction: row;
        height : 30px;
        max-width : 300px;
        margin-top : 1%;
            
        &_image{
                            flex : none;
                            border-radius: 15px;
                            width : 25px;
                            height : 25px;
                            margin-right : 10px;

                        &_real{
                            border-radius: 10px;
                        }

                        }
        
        &_name{
                            flex : none;
                            max-width : 100px;
                            margin-right : 10px;
                        }
        
        &_school{
                            flex : none;
                            max-width : 100px;
                            margin-right : 10px;
                        }
        
        &_time{
                            flex : none;
                            max-width : 200px;
                        }
    }

    &_count{
        margin: 1%;
        max-width : 300px;
        display : inline-block;
        color : rgb(43, 43, 43);
        padding-bottom : 1%;
        border-bottom : 1px solid rgb(105, 105, 105);
    }

    &_form{
        margin-top : 20px;
        width : 690px;
    }
}


// 여기부터 footer
.footer{
    background-color: rgb(56, 56, 56);
}

input[type=text]{
    width : 680px;
    height : 80px;
    padding : 10px;
    border : 1px solid rgb(180, 180, 180);

    &::placeholder{
        all : unset;
        color : rgb(90, 90, 90);
        vertical-align : text-top;
    }
}

a {
    color: black;
    text-decoration: none;
    outline: none
}

a:hover, a:active {
    text-decoration: none; 
    color:black; 
}

input[type=text]{
    width : 680px;
    height : 80px;
    padding : 10px;
    border : 1px solid rgb(180, 180, 180);
}
