
@media (min-width: 500px) and ( max-width: 810px ){
    .idea{
        &_container{
            margin: 0 auto; 
            margin-top : 20px; 
            max-width : 500px;
        }
    }
    // 아이디어 타이틀 부분
    .title{
        &_name{
            font-size : 32px;
            text-align : center;
            max-width : 500px;
        }

        &_sub{
            margin-top : 10px;
            font-size : 16px;
            max-width : 500px;
        }
    }
    .author_info{
        height : 30px;
        justify-content : center;
    
        &_name{
            padding-bottom: 10px;
            font-size : 15px;
            color : black;
            margin-right : 10px;
        }
    
        &_image{
            border-radius: 3px;
            width : 25px;
            height : 25px;
            margin-right : 10px;
    
            &_real{
                border-radius: 10px;
            }
        }
    
        &_time{
            color : rgb(126, 126, 126);
            font-size : 15px;
            padding : 0;
            margin-right : 0;
        }
    }

// 아이디어 사진 부분
    .image{
        &_box{
            flex: 1;
            &_real{
                justify-content: center;
                margin-bottom : 20px;
                max-width : 500px;
                height: auto;
            }
        }
    }

    .comments{
        &_container{
            max-width : 500px;
        }


        &_real{
            max-width : 500px;
            margin-top : 2%;
        }
        &_box{   
            max-width: 500px;
        }
    }

    .bot {
        margin-top: 20px;
        &_box{
            max-width: 500px;
        }
    }


    .add_comment{
        max-width : 100%;
    }
    .add_comment_list_on{
        max-width : 100%;
        margin-bottom : 20px;
    }
    .add_comment_box{
        max-width : 100%;
    }
    .new_comment{
        max-width: 100%;
    }
}

@media (max-width: 499px){
    .idea{
        &_container{
            margin: 0 auto; 
            margin-top : 10px; 
            max-width : 90%;
        }
    }

    // 아이디어 타이틀 부분
    .title{
        &_name{
            font-size : 32px;
            text-align : center;
            max-width : 100%;
        }

        &_sub{
            margin-top : 10px;
            font-size : 16px;
            max-width : 100%;
        }
    }

    .author_info{
        height : 30px;
        justify-content : center;
    
        &_name{
            padding-bottom: 10px;
            font-size : 12px;
            color : black;
            margin-right : 8px;
        }
    
        &_image{
            border-radius: 2px;
            width : 20px;
            height : 20px;
            margin-right : 8px;
    
            &_real{
                border-radius: 8px;
            }
        }
    
        &_time{
            color : rgb(126, 126, 126);
            font-size : 12px;
            padding : 0;
            margin-right : 0;
        }
    }

    // 아이디어 사진 부분
    .image{
        &_box{
            flex: 1;
            &_real{
                justify-content: center;
                margin-bottom : 10px;
                max-width : 100%;
                height: auto;
                img{
                    display: flex;
                    flex: 1;
                    max-width : 100%;
                    height: auto;
                }
            }
        }
    }

    .description{
        h6{
            font-size: 12px;
            font-weight: 300;
        }
    }

    .bot {
        margin-top: 20px;
        &_box{
            max-width: 100%;
        }
    }

    .comments{
        &_container{
            max-width : 90%;
        }
        &_real{
            max-width : 100%;
            margin-top : 2%;
        }
        &_box{   
            max-width: 100%;
        }
    }
    .add_comment{
        max-width : 100%;
    }
    .add_comment_list_on{
        max-width : 100%;
        margin-bottom : 20px;
    }
    .add_comment_box{
        max-width : 100%;
    }
    .new_comment{
        max-width: 100%;
    }
}
