@media (min-width: 500px) and ( max-width: 810px ){
    .idea{
        &_container{
            margin: 0 auto; 
            margin-top : 20px; 
            width : 90%;
        }
    }
}

@media (max-width: 499px){
    .idea{
        &_container{
            margin: 0 auto; 
            margin-top : 20px; 
            width : 90%;
        }
    }
}