.container{
    display : grid;
    grid-template-areas: 'header'
                         'content'
                         'comment'
                         'footer';
    grid-template-rows: 50px 950px 4fr 100px;
    height : 100%;
    max-height : 3000px;
}

p{
    all : unset;
    margin : 0px 10px 0px 10px;
}
// 여기부터 헤더
.header{
    display : inline-flex;
    grid-area : 'header';
    background-color: white;
    border-bottom : 1px solid rgb(185, 185, 185);
}

.header_title{
    font-size : 40px;
    padding-left: 10px;
}

.header_box1{
    margin-left : auto;
    width : 100px;
    border-left : 1px solid rgb(185, 185, 185);
    font-size : 20px;
}
.header_box2{
    margin-left : auto;
    width : 100px;
    border-left : 1px solid rgb(185, 185, 185);
    font-size : 20px;
}
.header_box3{
    margin-left : auto;
    width : 100px;
    border-left : 1px solid rgb(185, 185, 185);
    font-size : 20px;
}

//여기부터 content
.content{
    display : grid;
    grid-template-areas: 'no' 'idea' 'no';
    grid-template-columns: 1.5fr 7fr 1.5fr;
    grid-area : 'content';
    z-index : -1;
}

.idea{
    grid-area : 'idea';
    background-color: white;
    flex-direction: column;
    justify-content: center;
}

.idea_container{
    display : flex;
    flex-direction: column;
    justify-content: center;
    margin-top : 30px;
}

.title{
    display : inline-flex;
    height : 50px;
    margin : 10px 30px 0px 30px;
    font-size : 30px;
}


.sub_title{
    display: flex;
    flex-direction: row;
    height : 30px;
    border-bottom : 1px solid rgb(206, 206, 206);
}

.sub_title_name{
    margin : 0px 30px 10px 30px;
    padding-bottom: 10px;
    font-size : 15px;
    color : rgb(126, 126, 126);
    margin-right : auto;
}

.sub_title_school{
    color : black;
    font-size : 15px;
    padding : 0px 0px 0px 0px;
}

.sub_title_time{
    color : rgb(126, 126, 126);
    font-size : 15px;
    padding : 0px 10px 10px 0px;
}

.image{
    height : 400px;
    width : 700px;
    border : 1px solid rgb(197, 197, 197); 
    margin: 0 auto;
    margin-top: 20px;
}

.description{
    height : 200px;
    width : 700px;
    margin : 10px 0px 10px 20px; 
    font-size : 10px;
    margin: 0 auto;
    padding : 20px 0px 0px 10px;
}

.bottom{
    display : flex;
    margin : 0 auto;
    height : 70px;
    width : 700px;
    border-bottom : solid 1px rgb(161, 161, 161);
    margin-bottom : 10px;
    flex-wrap : wrap-reverse;
}

.bottom_item{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    max-width : 200px;
    text-align : center;
    white-space : nowrap;   // 텍스트 길어도 줄바꿈 ㄴㄴ
    text-overflow: ellipsis;    // 잘린 텍스트 ...표기
    overflow:hidden;    // 잘린거 안보이게 
    margin : 0px 10px 0px 10px;

}

.edit{
    display : flex;
    justify-content: flex-end;
    margin : 0 auto;
    height : 50px;
    width : 700px;
}

.edit_box1{
    background-color: #F39925;
    width : 70px;
    height : 40px;
    margin : 0px 10px 0px 0px;
    color : white;
}

.edit_box2{
    background-color: #F39925;
    width : 70px;
    height : 40px;
    color : white;
}
// 여기부터 comment
.comment{
    display : grid;
    grid-template-areas: 'no' 'comments' 'no';
    grid-template-columns: 1.5fr 7fr 1.5fr;
    grid-area : 'comment';
    overflow: hidden;
}

.comments{
    display : flex;
    flex-direction: column;
    grid-area : 'comments';
    background-color: white;
    border-top : solid 1px rgb(161, 161, 161);
}

.comment_input{
    display : inline-flex;
    height : 100px;
    width : 800px;
    margin : 0 auto;
    margin-top : 30px;
    
}

.comment_input_box1{
    width : 700px;
    height : 100px;
    border : 1px solid black;
}

.comment_input_box2{
    width : 70px;
    height : 30px;
    border : 1px solid black;
    background-color: #F39925;
    color : white;
    margin-top : auto;
    margin-left : auto;
}

.commend_list{
    display : flex;
    flex-direction: column;
}

.comment_list_author{
    display : flex;
    width : 800px;
    margin : 0 auto;
    margin-top : 30px;
}

.comment_author{
    flex : none;
    max-width : 100px;
    height : 30px;
    margin-right : 10px;
}

.comment_school{
    flex : none;
    max-width : 100px;
    height : 30px;
    margin-right : 10px;
}

.comment_time{
    flex : none;
    max-width : 100px;
    height : 30px;
}

.comment_list_content{
    display : flex;
    height : 100px;
    width : 800px;
    margin : 0 auto;
    border : solid 1px rgb(161, 161, 161);
}

.comment_content{
    flex : 1;
    flex : none;
    width : 600px;
    max-height : 400px;
}

.comment_edit{
    width : 60px;
    height : 30px;
    margin-top: auto;
    margin-left : auto;
}

.comment_delete{
    width : 60px;
    height : 30px;
    margin-top: auto;
}
// 여기부터 footer
.footer{
    background-color: rgb(56, 56, 56);

}