@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
body {
  font-family: 'Noto Sans', sans-serif; }

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 72px;
  font-weight: 700;
  margin: 0; }

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 56px;
  font-weight: 600;
  margin: 0; }

h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin: 0; }

h4 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin: 0; }

h5 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0; }

h6 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0; }

input, button, textarea, menu {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none; }

p {
  all: unset; }

.container {
  display: grid;
  grid-template-areas: 'header' 'content' 'comment' 'footer';
  grid-template-rows: 60px 6fr 4fr 100px;
  max-height: 5000px; }

.header {
  grid-area: 'header';
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #B8B8B8; }
  .header .logo {
    width: 260px;
    height: 31px;
    left: 26px;
    top: 30px; }
  .header a {
    font-size: 20px;
    margin: 10px;
    color: black;
    text-decoration: none; }
  .header .menu {
    float: right; }

.content {
  display: grid;
  grid-template-areas: 'no' 'idea' 'no';
  grid-template-columns: 1.5fr 7fr 1.5fr;
  grid-area: 'content'; }

.idea {
  grid-area: 'idea';
  background-color: white;
  display: flex;
  justify-content: center; }
  .idea_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 800px; }

.title {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .title_name {
    flex: none;
    display: block;
    font-size: 40px;
    text-align: center;
    max-width: 800px; }
  .title_sub {
    flex: none;
    display: block;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    max-width: 800px;
    color: #7e7e7e; }

.author_info {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: 1px solid #cacaca; }
  .author_info_school {
    color: black;
    font-size: 15px;
    padding: 0px 0px 0px 0px;
    margin-right: 10px;
    max-width: 200px; }
  .author_info_name {
    padding-bottom: 10px;
    font-size: 15px;
    color: black;
    max-width: 100px;
    margin-right: 10px; }
  .author_info_time {
    color: #7e7e7e;
    font-size: 15px;
    padding: 0px 10px 10px 0px;
    margin-right: 10px;
    max-width: 200px; }

.image {
  margin-top: 20px;
  max-height: 1500px;
  display: flex;
  justify-content: center; }
  .image_box {
    flex: none;
    width: 800px;
    display: flex;
    flex-direction: column;
    max-height: 1500px; }
  .image_real {
    margin-bottom: 30px; }

.description {
  display: flex;
  justify-content: center; }
  .description_box {
    display: block;
    width: 800px;
    max-height: 800px;
    margin: 10px 0px 10px 20px;
    font-size: 10px;
    padding: 20px 0px 0px 10px;
    margin-bottom: 100px; }

.bot {
  display: flex;
  justify-content: center;
  max-height: 300px; }
  .bot_box {
    width: 800px; }
    .bot_box_hashbox {
      width: 800px;
      display: inline-block; }
      .bot_box_hashbox_hashtag {
        display: flex;
        max-height: 200px;
        flex-wrap: wrap-reverse;
        margin-bottom: 1%; }
        .bot_box_hashbox_hashtag_item {
          flex-grow: 0;
          flex-shrink: 1;
          flex-basis: auto;
          max-width: 200px;
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin: 0px 10px 0px 10px; }
    .bot_box_edit {
      display: flex;
      height: 50px;
      width: 800px;
      flex-direction: row;
      justify-content: flex-end; }
      .bot_box_edit_box1 {
        border: 1px solid #b4b4b4;
        color: black;
        width: 60px;
        height: 30px;
        text-align: center;
        margin-right: 1%;
        box-shadow: 0px 1px 1px 0px #cecece; }
        .bot_box_edit_box1:hover {
          color: white;
          background-color: #F39925;
          transition: 0.3s; }
      .bot_box_edit_box2 {
        border: 1px solid #b4b4b4;
        width: 60px;
        color: black;
        height: 30px;
        text-align: center;
        margin-right: 1%;
        box-shadow: 0px 1px 1px 0px #cecece;
        transition: 0.3s; }
        .bot_box_edit_box2:hover {
          color: white;
          background-color: #F39925;
          transition: 0.3s; }

.comment {
  display: grid;
  grid-template-areas: 'no' 'comments' 'no';
  grid-template-columns: 1.5fr 7fr 1.5fr;
  grid-area: 'comment';
  overflow: hidden; }

.comments {
  grid-area: 'comments';
  display: flex;
  justify-content: center; }
  .comments_container {
    flex: none;
    border-top: solid 1px #dddddd;
    display: flex;
    width: 800px;
    flex-direction: column; }
  .comments_box {
    display: flex;
    justify-content: center;
    width: 800px;
    margin-top: 1%; }
    .comments_box_input_none {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 800px;
      height: 100px; }
      .comments_box_input_none_box {
        display: flex;
        flex-direction: row;
        max-width: 800px; }
      .comments_box_input_none_text {
        flex: none;
        max-width: 600px;
        height: 40px;
        margin-right: 2%; }
      .comments_box_input_none_button {
        flex: none;
        margin-left: 2%;
        border: 1px solid #b4b4b4;
        color: black;
        width: 100px;
        height: 40px;
        text-align: center;
        background-color: white;
        box-shadow: 0px 1px 1px 0px #cecece; }
        .comments_box_input_none_buttona:hover {
          color: white;
          background-color: #F39925;
          transition: 0.3s; }
    .comments_box_input {
      display: flex;
      flex-direction: column;
      height: 140px;
      width: 800px; }
      .comments_box_input_start {
        height: 35px;
        display: flex;
        flex-direction: row; }
        .comments_box_input_start_image {
          background-color: #F39925;
          border-radius: 15px;
          width: 25px;
          height: 25px;
          margin-right: 10px; }
        .comments_box_input_start_name {
          flex: none;
          max-width: 100px;
          margin-right: 10px; }
        .comments_box_input_start_school {
          flex: none;
          max-width: 100px;
          margin-right: 10px; }
      .comments_box_input_form {
        height: 160px;
        display: flex;
        flex-direction: row;
        align-items: flex-end; }
        .comments_box_input_form_button {
          display: inline-block;
          border: 1px solid #b4b4b4;
          color: black;
          width: 70px;
          height: 40px;
          text-align: center;
          background-color: white;
          margin-left: auto;
          box-shadow: 0px 1px 1px 0px #cecece;
          margin-right: 1%; }
          .comments_box_input_form_button:hover {
            color: white;
            background-color: #F39925;
            transition: 0.3s; }
  .comments_order_box {
    display: flex;
    justify-content: center;
    margin-top: 1%; }
    .comments_order_box_order {
      display: inline-block;
      width: 800px;
      display: flex;
      flex-direction: row; }
      .comments_order_box_order_item1 {
        max-width: 300px;
        display: inline-block;
        color: #F39925; }
      .comments_order_box_order_item2 {
        flex: none;
        width: 150px;
        margin-left: 3%;
        padding-top: 3px; }
        .comments_order_box_order_item2_button {
          display: inline-block;
          border: 1px solid #b4b4b4;
          color: black;
          width: 60px;
          height: 30px;
          text-align: center;
          background-color: white;
          box-shadow: 0px 1px 1px 0px #cecece; }
          .comments_order_box_order_item2_button:hover {
            color: white;
            background-color: #F39925;
            transition: 0.3s; }
  .comments_list {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    max-height: 2000px; }
  .comments_box {
    display: flex;
    flex-direction: column; }
  .comments_real {
    flex: none;
    width: 800px;
    max-height: 2000px;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
    border-bottom: 1px solid #b6b6b6; }
  .comments_author_info {
    display: flex;
    flex-direction: row;
    height: 30px;
    max-width: 300px; }
    .comments_author_info_image {
      flex: none;
      border-radius: 15px;
      width: 25px;
      height: 25px;
      margin-right: 10px; }
    .comments_author_info_name {
      flex: none;
      max-width: 100px;
      margin-right: 10px; }
    .comments_author_info_school {
      flex: none;
      max-width: 100px;
      margin-right: 10px; }
    .comments_author_info_time {
      flex: none;
      max-width: 200px; }
  .comments_content_box {
    max-height: 2000px; }
  .comments_content {
    display: flex;
    flex-direction: row;
    max-height: 150px;
    margin-bottom: 10px; }
    .comments_content_left {
      flex: none;
      text-overflow: ellipsis;
      white-space: normal;
      overflow: hidden;
      max-width: 700px; }
    .comments_content_right {
      flex: none;
      margin-left: auto;
      margin-top: auto;
      width: 71px; }
      .comments_content_right_button {
        display: block;
        border: 1px solid #b4b4b4;
        color: black;
        width: 70px;
        height: 40px;
        text-align: center;
        background-color: white;
        box-shadow: 0px 1px 1px 0px #cecece; }
        .comments_content_right_button:hover {
          color: white;
          background-color: #F39925;
          transition: 0.3s; }

.new_comment {
  display: block;
  width: 800px;
  height: 75px;
  margin-top: 2%; }
  .new_comment_input[type=text] {
    width: 620px;
    height: 40px;
    border: 1px solid #b4b4b4;
    margin-left: 2%; }
    .new_comment_input[type=text]::placeholder {
      all: unset;
      color: #5a5a5a;
      vertical-align: text-top; }
  .new_comment_button {
    border: 1px solid #b4b4b4;
    color: black;
    width: 70px;
    height: 40px;
    text-align: center;
    background-color: white;
    margin-left: auto;
    box-shadow: 0px 1px 1px 0px #cecece;
    margin-right: 1%; }
    .new_comment_button:hover {
      color: white;
      background-color: #F39925;
      transition: 0.3s; }
  .new_comment_form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 1%; }

#btn-comment {
  cursor: pointer; }

.add_comment_list {
  display: none; }

.add_comment_list_on {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 2000px;
  width: 800px;
  margin-bottom: 20px; }

.add_comment {
  display: inline-block;
  position: relative;
  max-height: 200px;
  width: 640px;
  margin-left: 2%; }
  .add_comment_content {
    margin-top: 1%; }
  .add_comment_author_info {
    display: flex;
    flex-direction: row;
    height: 30px;
    max-width: 300px;
    margin-top: 1%; }
    .add_comment_author_info_image {
      flex: none;
      border-radius: 15px;
      width: 25px;
      height: 25px;
      margin-right: 10px; }
    .add_comment_author_info_name {
      flex: none;
      max-width: 100px;
      margin-right: 10px; }
    .add_comment_author_info_school {
      flex: none;
      max-width: 100px;
      margin-right: 10px; }
    .add_comment_author_info_time {
      flex: none;
      max-width: 200px; }
  .add_comment_count {
    margin: 1%;
    max-width: 300px;
    display: inline-block;
    color: #2b2b2b;
    padding-bottom: 1%;
    border-bottom: 1px solid dimgray; }
  .add_comment_form {
    margin-top: 20px;
    width: 690px; }

.footer {
  background-color: #383838; }

input[type=text] {
  width: 680px;
  height: 80px;
  padding: 10px;
  border: 1px solid #b4b4b4; }
  input[type=text]::placeholder {
    all: unset;
    color: #5a5a5a;
    vertical-align: text-top; }

a {
  color: black;
  text-decoration: none;
  outline: none; }

a:hover, a:active {
  text-decoration: none;
  color: black; }

/*# sourceMappingURL=detail.css.map */