@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Noto Sans', sans-serif; }

/* 앞으로의 모든 header들 */
header, #submit_idea_header, #mainpage_header {
  margin: 20px; }
  header .logo, #submit_idea_header .logo, #mainpage_header .logo {
    width: 260px;
    height: 31px;
    left: 26px;
    top: 30px; }
  header a, #submit_idea_header a, #mainpage_header a {
    font-size: 20px;
    margin: 10px;
    color: black;
    text-decoration: none; }
  header .menu, #submit_idea_header .menu, #mainpage_header .menu {
    float: right; }

/* Main Page */
#main_body {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/hackerthon.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  /*background-size: 100%;*/
  background-repeat: no-repeat; }

#mainpage_header a {
  color: white; }

.main_section {
  margin-top: 10%;
  text-align: center; }
  .main_section h1 {
    font-weight: 600;
    font-size: 63px;
    line-height: 98px;
    color: white; }
  .main_section h4 {
    margin-bottom: 45px;
    color: white; }
  .main_section a button {
    width: 150px;
    height: 35px;
    background: rgba(255, 255, 255, 0.7);
    border-style: none;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    font-weight: bold; }

/* Sign in Page */
.signin_section {
  text-align: center;
  margin: 10%; }
  .signin_section a {
    text-decoration: none; }
    .signin_section a #signin_logo {
      width: 382px;
      height: 45px; }
    .signin_section a b {
      color: black;
      margin: 10px;
      font-size: 24px; }
  .signin_section #login_form {
    margin: 60px; }
  .signin_section div {
    margin: 30px; }
  .signin_section input, .signin_section #submit_form #submit_left input.InputTextArea, #submit_form #submit_left .signin_section input.InputTextArea, #submit_form #submit_left .signin_section button.InputTextArea, .signin_section #submit_form #submit_left button.InputTextArea, .signin_section button {
    width: 75%;
    height: 35px;
    border: 1px solid #B8B8B8;
    border-radius: 20px;
    padding-left: 20px; }
  .signin_section button {
    width: 80%;
    border: #f39926;
    background-color: #f39926;
    font-weight: bold;
    font-size: 20px; }

/* Submit Idea Page */
#submit_idea_header {
  padding-bottom: 10px;
  border-bottom: 1px solid #B8B8B8; }

#submit_form {
  font-size: 20px;
  font-weight: bold;
  padding: 50px; }
  #submit_form div {
    margin: 20px; }
  #submit_form .InputBox {
    text-align: center; }
  #submit_form #submit_left {
    padding-right: 50px;
    width: 50%;
    float: left;
    box-sizing: border-box; }
    #submit_form #submit_left input.InputText, #submit_form #submit_left .signin_section button.InputText, .signin_section #submit_form #submit_left button.InputText {
      padding-left: 20px;
      width: 100%;
      height: 50px;
      border: 1px solid #A9A9A9;
      border-radius: 10px; }
    #submit_form #submit_left input.InputTextArea, #submit_form #submit_left .signin_section button.InputTextArea, .signin_section #submit_form #submit_left button.InputTextArea {
      height: 130px; }
  #submit_form #submit_right {
    padding-left: 50px;
    width: 50%;
    float: right;
    border-left: 2px solid #B8B8B8;
    box-sizing: border-box; }
    #submit_form #submit_right table {
      text-align: center;
      width: 100%;
      height: 350px;
      /* 업로드할 이미지 비율을 정해줘야 할듯..*/ }
      #submit_form #submit_right table .tri {
        width: 5%; }
      #submit_form #submit_right table #IdeaPreview img {
        width: 90%;
        height: 300px; }
    #submit_form #submit_right #submitB {
      float: right;
      background-color: #f39926;
      color: white;
      border-radius: 10px;
      border: none;
      width: 80px;
      height: 30px;
      font-size: 16px;
      font-weight: bold; }

/*# sourceMappingURL=main.css.map */