body {
  font-family: 'Noto Sans', sans-serif; }

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 72px;
  font-weight: 700;
  margin: 0; }

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 56px;
  font-weight: 600;
  margin: 0; }

h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin: 0; }

h4 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin: 0; }

h5 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0; }

h6 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0; }

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  height: 100%;
  background-color: #e5e5e5; }

.header {
  display: flex;
  flex-direction: row;
  height: 60px;
  border-bottom: 1px black solid; }
  .header__logo {
    flex-direction: row;
    margin: auto 0;
    margin-left: 20px; }
    .header__logo .logo {
      margin: auto 0;
      width: 200px; }
    .header__logo .logotext {
      margin-top: auto;
      margin-left: 4px;
      font-size: 24px;
      font-weight: semibold; }

.footer {
  margin-top: auto;
  background-color: #302C28;
  color: white;
  text-align: center;
  height: 250px; }
  .footer h2 {
    margin: auto; }

/* ============ box layout ============== */
/* ============ button layout ============== */
.myInfoEdit {
  padding: 4% 8%;
  flex-direction: row; }
  .myInfoEdit__photo {
    padding: 50px;
    flex-direction: column;
    align-items: center; }
    .myInfoEdit__photo img {
      width: 300px;
      margin-bottom: 72px; }
    .myInfoEdit__photo .edit {
      width: 120px;
      height: 40px;
      border: 1px solid black;
      border-radius: 5px;
      color: black;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px; }
  .myInfoEdit__info {
    flex-direction: column;
    padding: 24px 40px;
    background-color: white;
    border-radius: 10px;
    flex: 1;
    margin-left: 40px; }
    .myInfoEdit__info .title {
      margin-left: -8px;
      margin-bottom: 16px; }
    .myInfoEdit__info .subtitle {
      margin-bottom: 8px;
      font-weight: 600;
      color: gray; }
    .myInfoEdit__info .contents {
      margin-bottom: 12px; }
    .myInfoEdit__info .ideatitle {
      font-weight: bold;
      margin-bottom: 12px;
      max-height: 40px;
      overflow: hidden; }
    .myInfoEdit__info .idea_description {
      color: gray; }
    .myInfoEdit__info input {
      border: 1px solid #d8d8d8;
      border-radius: 10px;
      height: 40px;
      padding: 0 10px;
      font-size: 16px;
      margin-bottom: 16px; }
    .myInfoEdit__info input:hover {
      border: 1px solid gray; }
    .myInfoEdit__info .btnbox {
      flex: 1;
      flex-direction: row; }
      .myInfoEdit__info .btnbox .init {
        width: 100px;
        height: 30px;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        font-weight: 300;
        margin: 10px;
        margin-left: auto;
        margin-top: auto; }
      .myInfoEdit__info .btnbox .confirm {
        width: 100px;
        height: 30px;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        background-color: #568df7;
        font-weight: 300;
        color: white;
        margin: 10px;
        margin-top: auto; }

/*# sourceMappingURL=mypageedit.css.map */