$lioncolor : rgb(243, 153, 37);

@import "./typography";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@mixin w_h_size($w, $h) {
    width: $w;
    height: $h;
}

body {
    background-color: #fafafa;
    overflow-x: hidden;
}

body,
html {
    margin: 0;
    padding: 0;
    @include w_h_size(100%, auto);
    color: white;
}

.change {
    background-color:rgba(0, 0, 0, .4);
}

.randImg {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-image: url("../image/background.png");
    background-position: center left;
    background-repeat: repeat-x;
    background-size: contain;
    background-color: black;
    
    &__left {
        width: 60%;
        height: 100%;
    }
    
    &__right {
        position: relative;
        width: 50%;
        height: 100%;
        background-image: url("../image/gray-bg.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}

.go_submit{
    position: absolute;
    width: 100%;
    top:80%;
    text-align: center;
}
.submit_btn{
    background: rgb(243, 153, 38);
    color: #fff;
    border: none;
    height: 60px;
    width: auto;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: 20px;


    &:hover {
        background: #fff;
        color: rgb(243, 153, 37);
    }

    &:after{
        right: inherit;
        top: inherit;
        left: 0;
    }

    &:before, &:after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        background: rgb(243, 153, 37);
        transition: 400ms ease all;
    }

    &:hover:before,&:hover:after{
        width: 100%;
        transition: 500ms ease all;
    }
}

.idea_count {
    color: rgb(75, 73, 73);
    font-size: 30px;
    margin-bottom: 0px;
    margin-left: 100px;

    &__span {
        color: $lioncolor;
        font-weight: bold;
        font-size: 50px;
    }
}

.ideacards {
    width: 80%;
    margin: 0 10%;
    padding-top: 4%;
    display: inline-block;
}

.ideacard {
    display: inline-block;
    float: left;
    @include w_h_size(30%, 390px);
    padding: 1% 1% 2% 1%;
    margin-left: 1%;
    margin-bottom:2%;
    border: none;
    background-color: #ffffff;
    position: relative;
    color: rgb(52, 52, 52);
}

.cardImg_board {
    background-color: #ffffff;
    text-align: center;
    background-position: center;
    height: 200px;
    text-align: center;
}

.card_image {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

a.top {
    margin-left: 50%;
    display: none;
}

.idea_title {
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    margin-bottom: 10px;
    overflow:hidden;    // 잘린거 안보이게 
    text-overflow: ellipsis;    // 잘린 텍스트 ...표기
    white-space : nowrap;   // 텍스트 길어도 줄바꿈 ㄴㄴ
}

.idea_subtitle{
    text-align: center;
    overflow:hidden;    // 잘린거 안보이게 
    text-overflow: ellipsis;    // 잘린 텍스트 ...표기
    white-space : nowrap;   // 텍스트 길어도 줄바꿈 ㄴㄴ
}

.user_div {
    max-height: 5%;
    width: 90%;
    position: absolute;
    bottom: 40px;
}

hr {
    color: darkgrey;
    opacity: 0.8;
}


.cardprofile {
    @include w_h_size(33px, 33px);
    vertical-align: middle;
    margin: 3px 5px 0px -1px;
}

.fa-comment {
    float: right;
    margin: 9px 2px 0px 0px;
}

.footer{
    position: relative;
    z-index: 0;
    padding: 60px 160px;
    margin-top: auto;
    background-color: #302C28;
    color: white;
    text-align: left;
    height: 200px;
    .slogan{
        margin-bottom: 30px;
    }
    .developer{
        color: #929292;
        margin-bottom: 30px;
    }
    .right{
        color: #929292;
    }
    .dev_info{
        display: none;
        position: absolute;
        background-color: black;
        left: 200px;
        bottom: 220px;
        z-index: 10;
        width: 300px;
        height: 200px;
    }
    &__bottom{
        flex-direction: row;
        justify-content: space-between;
        .link{
            flex-direction: row;
        }
    }
}