@import "./typography";

body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
    height:auto;
    color: white;
}
.header{
    position: fixed;
    display: flex;
    z-index: 100;
    width: 95%;
    flex-direction: row;
    margin: 20px;
    color: black;
    .logo{
        width: 260px;
        height: 31px;
        left: 26px;
        top: 30px;
    }
    a{  
        color: white;
        font-size: 20px;
        margin: 10px;
        text-decoration: none;
    }
    b{
        color: black;
    }
    .menu{
        float: right;
    }
    .fa-bars{
        margin-left: auto;
    }
} 

.randImg{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-image: url("../image/img4.png");
    background-position: center left;
    background-repeat: repeat-x;
    background-size: contain;
    background-color: black;
    &__left{
        width: 60%;
        height: 100%;
    }
    &__right{
        position: relative;
        width: 50%;
        height: 100%;
        background-image: url("../image/gray-bg.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        .deco_box{
            border: 1px solid rgba(255,255,255,0.25);
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 60%;
            position: absolute;
            z-index: 2;
            bottom: 17%;
            min-height: 350px;
            min-width: 300px;
        }
        .contents{
            position: absolute;
            display: flex;
            flex-direction: column;
            height: 110%;
            top: -10%;
            left: -12%;
            width: 100%;
            .title{
                white-space:nowrap;
                margin-bottom: 20px;
            }
            .detail{
                margin-top: auto;
                margin-left: auto;
                color: gray;
            }
            .writer_info{
                display: flex;
                flex-direction: row;
                .profile_img{
                    margin:auto 0;
                    margin-right: 4px;
                    border-radius: 20px;
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}
.search_div{
    height:100px;
    background-color: antiquewhite;
    margin-top: 50px;
}
.ideacards{
    padding-top:5%;
    padding-left:9%;
    padding-right:4.5%;
    display: inline-block;
}
.ideacard{
    float:left;
    width:25%;
    height:390px;
    padding: 1% 1% 2% 1%;
    margin:2%;
    border:1px solid rgb(53, 52, 52);
    background-color: #ffffff;
    position:relative;
}
.cardprofile{
    width: 33px;
    height:33px;
    vertical-align: middle;
    margin: 3px 5px 0px -1px;
}
.fa-comment{
    float:right;
    margin: 9px 2px 0px 0px;
}
.idea_name{
    vertical-align: top;
    font-size: 20px;
    margin-bottom:10px;
}
.cardImg_board{
    background-color: #ffffff;
    text-align: center;
    background-position: center;
    height: 200px;
    line-height: 190px;
}
.card_image{
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.user_div{
    max-height:5%;
    width:90%;
    position:absolute;
    bottom:40px;
}
.card_href{
    text-decoration: none;
    color:black;
    box-shadow: 0px 0px 0px grey;
    -webkit-transition: box-shadow .6s ease-out;
    box-shadow: .8px .9px 3px grey;
}
.card_href:hover{
    text-decoration: none;
    box-shadow: 1px 8px 20px grey;
    -webkit-transition: box-shadow .5s ease-in;
}
hr {
    color:darkgrey;
    opacity: 0.8;
}

*, *:before, *:after { 
    box-sizing: inherit; 
}
/* container - body */
#container { 
    width: 1000px; 
    margin: auto; 
    margin-top: 100px;
}
.slide_wrap { 
    position: relative; 
    width: 700px;
    margin: auto; 
    padding-bottom: 30px; 
}
.slide_box { 
    width: 100%; 
    margin: auto; 
    overflow-x: hidden; 
}
.slide_content { 
    display: table; 
    float: left; 
    width: 700px; 
    height: 400px; 
}
.slide_content > a { 
    display: table-cell; 
    vertical-align: bottom; 
    text-align: center; 
    font-size: 30px; 
    font-weight: bold; 
    color: rgb(0, 0, 0); 
    text-decoration: none;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
.slide_content > a:hover{
    text-decoration: none;
    font-size: 30.5px;
}
.slide_content.slide01 { 
    background-image:url("{% static 'image/bg4.jpg' %}");
    background-repeat: no-repeat;
    background-size: auto 400px;
    background-position: center;
}
.slide_content.slide02 { 
    background-image:url("{% static 'image/bg2.jpg' %}");
    background-repeat: no-repeat;
    background-size: auto 400px; 
    background-position: center;
}
.slide_content.slide03 { 
    background-image:url("{% static 'image/bg8.jpg' %}");
    background-repeat: no-repeat;
    background-size: auto 400px; 
    background-position: center;
}
.slide_content.slide04 { 
    background-image:url("{% static 'image/bg6.jpg' %}");
    background-repeat: no-repeat;
    background-size: auto 400px; 
    background-position: center;
}
.slide_content.slide05 { 
    background-image:url("{% static 'image/bg9.jpg' %}");
    background-repeat: no-repeat;
    background-size: auto 400px; 
    background-position: center;
}
.slide_btn_box > button { 
    position: absolute; 
    top: 50%;
    margin-top: -45px; 
    width: 60px; 
    height: 60px; 
    font-size: 46px; 
    background: none; 
    border: none;
    cursor: pointer; 
}
.slide_btn_box > .slide_btn_prev { 
    left: -100px; 
}
.slide_btn_box > .slide_btn_next { 
    right: -100px; 
}
.slide_pagination { 
    position: absolute; 
    left: 50%; 
    bottom: 0; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    transform: translateX(-50%); 
}
.slide_pagination .dot { 
    display: inline-block; 
    width: 15px; 
    height: 15px; 
    margin: 0 5px; 
    overflow: hidden; 
    background: #ddd; 
    border-radius: 50%; 
    transition: 0.3s; 
}
.slide_pagination .dot.dot_active { 
    background: rgb(243,153,37); 
}
.slide_pagination .dot a { 
    display: block; 
    width: 100%;
    height: 100%; 
}
.fa-angle-left, .fa-angle-right{
    color:rgb(243,153,37);
}
.fa-angle-left, .fa-angle-right:hover{
    font-size:50px;
}
.search_btn{
    font-size: 33px;
    cursor: pointer; 
    background-color:transparent;  
    border:0px transparent solid;
}
.fa-search{
    vertical-align: middle;
}
.footer{
    background-color: rgb(230, 170, 42);
    margin-top: 5%;
}
.footer_cnts{
    display: inline-block;
    margin-left: 9%;
    padding:30px 0px 60px 0px
}